```
# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Build artifacts
build/
dist/

# Logs
*.log

# Temporary files
*.tmp
*.swp

# Environment files
.env
.env.local
*.env.*

# Coverage
.coverage
coverage/
htmlcov/

# MyPy
.mypy_cache/

# PyTest
.pytest_cache/

# Backtest results
**/backtest_results_*.csv
```